body{
    background-color: gray;
}

.navbar {
    background-color: #3cc7cc; 
    padding: 10px 0; 
}


.navbar-nav .nav-link {
    color: #333; 
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: aliceblue;
}

.container .text-center {
    margin-bottom: 20px; 
}
.container{
    background-color: #e1f68d;
   
}

.container2 {
    background-color: antiquewhite;
}



.footer {
    background-color: #333; 
    padding: 20px 0; 
}


